#region-main-settings-menu.has-blocks,
#region-main.has-blocks {
    display: inline-block;
    width: 100%;
}

#sidepreopen-control,
[data-region="blocks-column"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-block .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}

#sidepreopen-control {
    background-color: $brand-primary;
    position: fixed;
    right: -15px;
    top: 300px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px 0 0 6px;
    cursor: pointer;

    &:before {
        font-family: 'FontAwesome';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f053"; /* < "\e605" */ 
    }

    &:hover {
        box-shadow: 0 0 6px $brand-primary;
    }
}

[data-region="blocks-column"] {
    width: 280px;
    background-color: #fff;
    position: fixed;
    top: 70px;
    right: -280px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    z-index: 999;
}

#region-main.dashboard {
    display: table;
    width: 100%;
}

#region-main div.card.dashboard {
    display: table-cell;
}

#bottom-blocks  section,
[data-region="blocks-column2"] {
    background-color: #fff;
    display: table-cell;
    padding: 1.25rem;
    min-width: 260px;
    max-width: 20rem;
}


#block-region-bottomrow {
    display: table;
    width: 100%;
}

#bottom-blocks  .card-body {
    border: 1px solid rgba(0,0,0,.125);
}

@media only screen and (max-width: 768px) {
    #region-main div.card.dashboard,
    #bottom-blocks  section, 
    [data-region="blocks-column2"] {
        display: block;
        width: 100%;
        max-width: unset;
    }
}



.path-grade-report-grader [data-region="blocks-column"] {
    width: 280px;
}

body.drawer-open-right {
    #sidepreopen-control {
        right: 265px;

        &:before {
            content: "\f054"; /* > "\e606"; */
        }
    }

    [data-region="blocks-column"] {
        right: 0;

        aside.block {
            border: none;
            border-radius: 0;
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
        }
    }
}


.format-site.admin.path-admin #sidepreopen-control {
    padding: 10px 0 0 6px;
}

.format-site .block-controls,
.format-site .block-controls,
.pagelayout-incourse .block-controls {
        margin-top: -0.8rem;
}    

.pagelayout-course .block-controls {
    margin-top: -0.9rem;
}
