html,
body {
    height: unset;
}

#bloque_dch_cabecera {
    float: right;
    margin-top: 0;
    margin-left: 9px;
    min-width: 142px;
}


#bloque_dch_cabecera ul.enlaces_cabecera {
    padding: 0;
    margin: 0;
    list-style: none;
}

#bloque_dch_cabecera ul.enlaces_cabecera li {
    float: right;
    margin: 0;
    width: auto;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a.desconectar {
    height: 31px !important;
    margin-top: 0px !important;
    padding: 2px !important;
    width: auto !important;
    background: #40628d;
    border-radius: 2px;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a {
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    display: block;
    color: #ffffff;
    font-size: 0.875em;
    text-decoration: none;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a:hover {
    color: #ff9a00;
}

#bloque_dch_cabecera ul.enlaces_cabecera li.boton_ulpgc {
    padding: 0 5px 0 0 !important;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a.miulpgc {
    padding: 6px 12px;
    height: 31px;
    display: inline-block;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a span.ico_miulpgc {
    display: block;
    float: left;
    width: 12px;
    height: 35px;
    /* url('https://www.ulpgc.es/images/ulpgc_graficos_v14.svg') -160px -295px no-repeat;*/
    background: url('https://www2.ulpgc.es/images_nwi/ulpgc_graficos_v14.svg') -154px -285px no-repeat;
    padding-right: 20px;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a span.ico_desconectar {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    /* background: url('https://www.ulpgc.es/images/ulpgc_graficos_v14.svg') -179px -451px no-repeat; */
    background: url('https://www2.ulpgc.es/images_nwi/ulpgc_graficos_v14.svg') -191px -482px no-repeat;
    background-size: 904px;
}
	
@-moz-document url-prefix() {
    #bloque_dch_cabecera ul.enlaces_cabecera li.ultimo {
        margin-top: 0;
    }
}

#correo_ulpgc {
    padding-top: 8px;
    padding-right: 8px;
}

#correo_ulpgc a:hover {
    color: #ff9a00;
}

#correo_ulpgc a span.ico_correo {
    float: left;
    width: 21px;
    height: 16px;
    background: url('https://www2.ulpgc.es/images_nwi/ulpgc_graficos_v14.svg') -152px -140px no-repeat;
    margin-top: 3px;
}

#correo_ulpgc a:hover span.ico_correo {
	background:url('https://www2.ulpgc.es/images_nwi/ulpgc_graficos_v14.svg') -202px -140px no-repeat; 
}


.fixed-top.navbar .site-name {
    display: inline !important;
}

li.nav-item .usermenu {margin-right: 1.6rem;}

@media (min-width: 768px) {
    li.nav-item .usermenu  {
        width: 17vw;
        margin-right: 2.6rem;
    }
    .usermenu span.userbutton span.usertext {
        display: inline-block;
        max-width: 17vw;
        word-wrap: break-word;
        white-space: pre-wrap;
        vertical-align: middle;
        line-height: 1.0em;
    }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 860px; } }

@media (min-width: 1032px) {
    .usermenu span.userbutton span.usertext {
        max-width: 20vw;
    }
}

@media (min-width: 1128px) {
    .usermenu span.userbutton span.usertext {
        max-width: 30vw;
    }
}

@media (max-width: 358px) {
    a.navbar-brand.has-logo, 
    .usermenu {display:none;}    
    .navbar .popover-region {margin-right:2px;}
}
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar a.dropdown-toggle:hover, 
.navbar .navbar-nav .nav-link .icon:hover,
.navbar a.dropdown-toggle .usertext:hover,
.navbar .usermenu .dropdown a:hover {
    color: #ff9a00 !important;
}

// Usermenu
.usermenu {
    .login {
        line-height: 1.0rem;
    }
}

.breadcrumb .breadcrumb-item span.course {
    color: #ff9a00 ;
    font-weight: 800;
}


h1, .h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

h2, .h2 {
    font-size: 1.5rem;
}
   
h3, .h3 {
    font-size: 1.4rem;
}
h4, .h4 {
    font-size: 1.25rem;
}

.path-course hr,
.path-mod hr {
  border-top: 2px solid rgba(0, 0, 0, 0.4); 
  width: 95%;
}

button[data-action=toggle-drawer] {    
    padding: .375rem .75rem;
    border : 0;
    background-color: #40628d;
    color: #ffffff;
    border-radius: 4px;
}

button[data-action=toggle-drawer].btn-secondary:focus  {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* eliminado new theme ULPGC 2020
.bg-dark {
    background-color: rgb(0,46,103) !important;
}
*/

.d-flex.flex-wrap {
    background-color: #f2f2f2;
}

.nav .caret, .dropdown-toggle::after {
    margin-left: 0px;
}

.userbutton .avatar img.userpicture {
    margin-right: 0px;
}

#page-footer {
    min-height: unset;
}

#page-footer div {
    border-top: unset !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#page-footer .helplink,
#page-footer .logininfo,
#page-footer .nav.navbar-nav {
    float: left;
}

#page-footer .d-md-none {
    display: none;
}

#page-footer .tool_usertours-resettourcontainer,
#page-footer .tool_dataprivacy,
#page-footer .purgecaches {
    float: right;
}

#page-footer .row-fluid a {
    margin-right: 0.3rem;
}

#page-footer .col-12 div+div {
    margin: 0 8px;
}

#pie_info {
    padding: 12px 0px;
}

#pie_info p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0;
}

#pie_info h3 {
    font-size: 1.2rem;
}

#pie_info .logo_pie {
    width: 28%;
    background: url("https://www.ulpgc.es/sites/all/themes/ulpgc/images/ulpgc_graficos_v14.svg") -157px -1568px no-repeat;
    background-size: auto auto;
    background-size: 1400px;
    display: block;
    height: 80px;
    float: left;
    margin: 0 auto;
}

@media only screen and (max-width:899px){
    #pie_info .logo_pie{width:28%;background:url("https://www.ulpgc.es/sites/all/themes/ulpgc/images/ulpgc_graficos_v14.svg") -125px -1328px no-repeat;background-size:1200px;display:block;height:80px;float:left;margin:0 auto;}
}

@media only screen and (max-width:768px){
    #pie_info .logo_pie{
        display: none;
    }
}

#pie_info .columna_pie.primera {
    border-left: 1px solid;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#pie_info .columna_pie {
    width: 27%;
    float: left;
    height: auto;
    margin: 0 auto;
}

#pie_info .columna_pie.ultima {
    width: 12%;
}

.m-t-2.m-b-1 .row {
    font-size: small;
}

.card #page-navbar {
    max-width: calc(100% - 4em);
    max-width: -moz-calc(100% - 4em]);
    max-width: -webkit-calc(100% - 4em);
}

.list-unstyled { 
    padding-top: 0;
}

.block .calendar_filters.m-t-2 {
    margin: 0 !important;
}

.block .calendar_filters ul li {
    display: table-cell;
}

.block .calendar_filters ul li .eventname {
    display: none;
}

.block .unlist div.icon.column {
    float: left;
}

.section .activity .activityinstance,
.section .activity .activityinstance div {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.section .activity .activityinstance .dimmed.conditionalhidden {
    color: #07e; 
}

.activity .actions .btn {
    background-color: transparent !important;
}

.course-content ul.topics li.section.main, 
.course-content ul.weeks li.section.main, 
.course-content ul.periods li.section.main {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.course-content ul.topics li.section.main.current, 
.course-content ul.weeks li.section.main.current, 
.course-content ul.periods li.section.main.current {
    margin-top: -1px;
    border-bottom: #ff9a00 6px solid;
    border-top: #ff9a00 4px solid;
}

.section-modchooser .btn {
    border-radius: 5px;
    padding: 0 0.5rem;
}

.section-modchooser-link:hover {
    color: #212529 !important;
}

.userlist img.userpicture {
    float: left;
}

div.userlist table#participants th.header.c1{min-width: 12rem;}

.mform .form-inline  textarea.form-control{width: 100%;}
.box.generalbox  td .mediaplugin{width:auto;}


.form-autocomplete-selection [data-active-selection=true] {
  padding: .25em .4em;
  font-size: 75%; }

.icon-no-margin.btn.text-reset {
    padding: revert;
}  
  
.btn-group input.btn.btn-secondary {
    margin: 0 2px;
}

.nav-tabs .nav-link:hover {
    border: 2px solid #ddd;
    border-bottom: none;
}

.path-course-view .unread {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

//.forumpost.unread .row.header, 
.path-course-view .unread, span.unread {
    background-color: #ffdb99;
    padding: 0 0.5rem;
}

.activity.bootstrapelements .btn.btn-lg,
.activity.bootstrapelements h4.panel-title {
    font-size: unset;
    font-weight: 400;
}

.activity.bootstrapelements .no-overflow i.fa {
    font-size: 24px;
}

//tables 
.groupmanagementtable tr:hover, 
.roleassigntable tr:hover {
    background-color: $table-accent-bg !important;
} 


// Forum rules
.path-mod-forum .discussionsubscription,
.path-mod-forum .discussion-settings-menu,
.path-mod-forum .discussionsubscription {
    margin-top: 0;
    text-align: right;
    margin-bottom: 0;
}

.path-mod-forum .forumpost.unread::before {
    display: block;
    content: "";
    width: 4px;
    position: absolute;
    background: $orange;
    left: -1px;
    top: -1px;
    bottom: -1px;
}

.path-mod-forum .table.discussion-list {
    tbody tr:nth-of-type(#{$table-striped-order}) {
        background-color: $table-accent-bg;
    }
    tbody tr {
        @include hover {
            color: $table-hover-color;
            background-color: $table-hover-bg;
        }
    }
    .px-3 {
        padding: 0.5rem !important; 
    }
    .fit-content.limit-width {
        min-width: 20%;
    }
    .author-info .text-truncate {
        white-space: pre-line;
    }
    .badge-primary {
        background-color: $orange;
    }
    
    td a.btn {
        padding: 0 0.1rem;
        margin-right: 0.15rem;
    }
}

.path-mod-forum .forumpost .header.row {
    border-bottom: 1px solid $gray-200;
}

.path-mod-forum .forumpost .post-actions .btn {
    padding: .25rem .75rem;
    line-height: 1.1;
    border: 1px solid $gray-300;
    border-radius: 1.5rem;
}

.forumpost .author-groups-container {
    width: 24px !important;
}


// Questions
.que.multichoice .answer div.r0 .fa-check-square,
.que.multichoice .answer div.r1 .fa-check-square {
    text-indent: 0;
    color: $success;
}

.que.ddwtos .qtext .drop {background-color: transparent;}
.que.ddwtos .drop.yui3-dd-drop-over.yui3-dd-drop-active-valid {
    border-color: #000;
    box-shadow: none;
}

#categoryquestions label {
    text-overflow: ellipsis;
    overflow: hidden;
}

#categoryquestions .checkbox {
    padding-left: 0px; 
}

#categoryquestions td.qtype .icon {
    margin-right: 0;
    margin-top: -6px;
}

#page-mod-studentquiz-view input[type="checkbox"].toggle + span, 
#page-mod-studentquiz-view input[type="checkbox"].toggle + label span {
    background: $gray-300;
}

#page-mod-studentquiz-view .toggle:checked + span, #page-mod-studentquiz-view .toggle:checked + label span {
    color: darkgreen;
    font-weight: 600;
}

.block_online_users .content .list li.listentry .user {
    width: 89%;
}

/* restore custom_selects to min with */
.custom-select {
  width: auto;
}

// datalynx rules
.path-mod-datalynx .datalynx-field-wrapper  .col-md-9 {
    max-width: -moz-available;
   witdh: max-content;
}

.path-mod-datalynx .datalynx-displayentry .entry .generaltable td.cell.c2 {
   display: inline-flex;
}

/*------------------------------------------------------------------------------
 * Styles for new ULPGC theme september 2020
 * ---------------------------------------------------------------------------*/

.list-group-item.active {
    background-color: #0067a2;   
}

.enlaces_cabecera .ico_desconectar, .enlaces_cabecera .miulpgc {
    border-radius: 2px;
    background-color: #f69f18 !important;
}

#bloque_dch_cabecera ul.enlaces_cabecera li a:hover {
    color: #212529 !important;
}


#bloque_dch_cabecera ul.enlaces_cabecera li a span.ico_desconectar {
    height: 31px !important;
	margin-top: -2px !important; 
}

#pie_info .logo_pie {
    height: 100px !important;
    width: 270px;
    background: url("https://i.imgur.com/JnZBeIx.png") no-repeat !important;
}

.atto_charmap_selector .btn {
    color: black !important;
}

/* correct dropdowns in non-main pages */
.dropdown-item:active a, .dropdown-item:hover a, .dropdown-item:focus a, .dropdown-item:focus-within a {
    color: inherit; 
}

/* course format specific */

/* Toggle icon size */
.format-topcoll #toggle-all .content .sectionbody h4 span.tc-small,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-small {
    background-size: 12px 12px;
}

.format-topcoll #toggle-all .content .sectionbody h4 span.tc-medium,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-medium {
    background-size: 18px 18px;
}

.format-topcoll #toggle-all .content .sectionbody h4 span.tc-large,
.format-topcoll .course-content ul.ctopics li.section .content .toggle span.tc-large {
    background-size: 24px 24px;
}

.format-topcoll .course-content ul.ctopics li.section.main .left {
    padding: 4px 0 0 0;
}

.format-topcoll .course-content ul.ctopics li.section.main .side, 
.format-topcoll .course-content ul.ctopics li.tcsection .side, 
.format-topcoll.editing .course-content ul.ctopics li.section.main .side, 
.format-topcoll .editing .course-content ul.ctopics li.tcsection .side {
    width: 36px;
    text-align: right;
}

.format-topcoll .course-content ul.ctopics li.section .right {
     margin-top: 2.0rem;
}


.format-topcoll .section_availability:not(:empty)::before {
    margin-top: -2.7rem;
    margin-left: -2.7rem;
}


.format-onetopic .onetopic .nav-tabs .nav-link.active {
    background-color: #edf9ed; 
    font-weight: bold;
}
