/* ULPGC additional classes
-------------------------*/

.path-admin-local-ulpgccore .installpresets {
  padding-top: 0 !important;
  padding-bottom: 3.0rem !important;
}

/*
.availabilityinfo {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px 12px;
    position: absolute;
    top: 1.4em;
    right: 24px;
    z-index: -100;
    max-width: 75%;
    background-color: #EDEDFF;
    opacity: 0;
    border: 1px solid #003867;
}

.section.sectiondraggable .activity .availabilityinfo {
       max-width: 60%;
}

.contentwithoutlink:hover~.availabilityinfo,
.activityinstance:hover~.availabilityinfo {
    opacity: 1;
    z-index: 100;
}

.sectionname:hover~.section_availability .availabilityinfo {
    opacity: 1;
    z-index: 100;
    top: unset;
    position: absolute;
}

.format-flexsections .sectionname:hover~.availabilityinfo {
    opacity: 1;
    z-index: 100;
    top: unset;
    position: absolute;
}

.format-onetopic .content .section_availability:hover .availabilityinfo {
    opacity: 1;
    z-index: 100;
    top: inherit;
    right: 6.5em;    
}


.format-flexsections .availabilityinfo:not(:empty) {
    font-family: FontAwesome;
    content: "\f05e";
    float: left;
    margin-top: -3.4rem;
}

.section_availability:not(:empty)::before {
    font-family: FontAwesome;
    content: "\f05e";
    float: left;
    margin-top: -3.4rem;
}

.section.current h3.sectionname::after {
    font-family: FontAwesome;
    content: "\f097";
    margin-left: 1.0rem;
}

.section .activity .restriction {
    position: absolute;
    right: -15px;
    top: 0px;
}

.activity .availabilityinfo:hover{
    z-index: 100;
    opacity: 1;
}
*/

.author-groups-container .rounded-circle {
    position: absolute;
    top: 5;
    width: 24px !important;
    z-index: -100;
    opacity: 0;
}

.author-groups-container .rounded-circle:hover {
    position: relative;
    z-index: 100;
    opacity: 1;
}


/* user profile list & like styles
 ========================================================================= */

.userprofile .profile_tree .node_category .contentnode {
    list-style-type: initial;
    margin-left: 0px;
}


/* mod_forum styles
 ========================================================================= */

#page-mod-forum-view .forumaddnew {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.path-mod-forum .forumheaderlist {
    border-collapse: collapse !important;
}


.path-mod-forum .forumheaderlist th {
    border: 1px solid;
    border-color: #bbb; 
    border-style: solid;
    background-color: #e9e9e9;
}

.forumheaderlist td.lastpost {
    font-size: 0.75em;
    word-wrap: normal;
}

.forumheaderlist tbody tr:hover>td {
    background-color: #FAFADA;
}

/* mod_dialogue styles
 ========================================================================= */


.path-admin-local-ulpgccore table.rolecap tr.rolecap th {
  text-align: left;
  font-weight: normal;
  max-width: 20.0rem;
}

.path-admin-local-ulpgccore table.rolecap th.rolename {
  padding: 0 1.0rem;
  
}


.path-admin-local-ulpgccore table.rolecap td.permission {
  text-align: center;
}


.availability-dialogue ul button {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 140px;
    margin-top: 4px;
}

.availability-dialogue label {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 1em;
}

body.path-mod-dialogue #region-main .dropdown-menu > li > a {
    padding: 3px 10px;
}

body.path-mod-dialogue #region-main  .btn.btn-small.disabled {
    background-color: #5CB85C;
    color: #000;
    font-weight: bold;
}

.chooser-container  .btn.btn-icon.icon-size-3 {
    height: 18px !important;
}

.chooser-container .optionname {
    line-height: 1.1rem !important;
}

.chooser-container .grouplabel {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.chooser-container .optionicon {
    margin-top: 0.25rem !important;
}

/* enforce activityindentationenabled  */
@media (min-width: 576px) {
  /* Creates a series of .mod-indent-# rule declarations based on indent size and number of indent levels. */
  /* Also creates a series of .activity-indent-# rules based on same criteria. */
  .mod-indent-1 {
    width: 30px; }
  .activity-indent-1 {
    margin-left: 30px; }
  .mod-indent-2 {
    width: 60px; }
  .activity-indent-2 {
    margin-left: 60px; }
  .mod-indent-3 {
    width: 90px; }
  .activity-indent-3 {
    margin-left: 90px; }
  .mod-indent-4 {
    width: 120px; }
  .activity-indent-4 {
    margin-left: 120px; }
  .mod-indent-5 {
    width: 150px; }
  .activity-indent-5 {
    margin-left: 150px; }
  .mod-indent-6 {
    width: 180px; }
  .activity-indent-6 {
    margin-left: 180px; }
  .mod-indent-7 {
    width: 210px; }
  .activity-indent-7 {
    margin-left: 210px; }
  .mod-indent-8 {
    width: 240px; }
  .activity-indent-8 {
    margin-left: 240px; }
  .mod-indent-9 {
    width: 270px; }
  .activity-indent-9 {
    margin-left: 270px; }
  .mod-indent-10 {
    width: 300px; }
  .activity-indent-10 {
    margin-left: 300px; }
  .mod-indent-11 {
    width: 330px; }
  .activity-indent-11 {
    margin-left: 330px; }
  .mod-indent-12 {
    width: 360px; }
  .activity-indent-12 {
    margin-left: 360px; }
  .mod-indent-13 {
    width: 390px; }
  .activity-indent-13 {
    margin-left: 390px; }
  .mod-indent-14 {
    width: 420px; }
  .activity-indent-14 {
    margin-left: 420px; }
  .mod-indent-15 {
    width: 450px; }
  .activity-indent-15 {
    margin-left: 450px; }
  .mod-indent-16 {
    width: 480px; }
  .activity-indent-16 {
    margin-left: 480px; }
  .mod-indent-huge {
    width: 480px; } 
   .activity-indent-huge {
    margin-left: 480px; }
}
   
