<?php
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* A form for updating an issue
*/

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
}

//$OUTPUT->box_start('center', '80%', '', '', 'generalbox', 'bugreport');
echo $OUTPUT->box_start('generalbox bugreport', null, array('width'=>'100%'));
$issue = $DB->get_record('tracker_issue', array('id' => $issueid));

$issue->reporter = $DB->get_record('user', array('id' => $issue->reportedby));
tracker_loadelementsused($tracker, $elementsused);

// ecastro ULPGC maxfiles = 0 to avoid files in text areas, only attachments.
$editoroptions = array('trusttext' => true, 'subdirs' => true, 'maxfiles' => 0, 'maxbytes' => $COURSE->maxbytes, 'context' => $context);
$issue = file_prepare_standard_editor($issue, 'description', $editoroptions, $context, 'mod_tracker', 'issuedescription', $issue->id);
$issue = file_prepare_standard_editor($issue, 'resolution', $editoroptions, $context, 'mod_tracker', 'issueresolution', $issue->id);

$fulledit = has_all_capabilities(array('mod/tracker:configurenetwork', 'mod/tracker:shareelements'), $context);          
$fulledit = false;
$studentedit = false;
$owneredit = false;
$workedit = false;
if(has_all_capabilities(array('mod/tracker:configurenetwork', 'mod/tracker:shareelements'), $context)) {
    $fulledit = true;
}
if($issue->reportedby == $USER->id) {
    $now = time();
    $studentedit = ($tracker->duedate && $tracker->duedate > $now && 
                            $tracker->allowsubmissionsfromdate && $tracker->allowsubmissionsfromdate < $now);
} else {
    $owneredit = has_any_capability(array('mod/tracker:develop', 'mod/tracker:comment'), $context);
    $workedit = tracker_can_workon($tracker, $context, $issue);
}
?>
<center>

<!-- Print Bug Form -->

<!-- 
<form action="view.php" name="editissue" method="post">
<input type="hidden" name="id" value="<?php p($cm->id) ?>" />
<input type="hidden" name="issueid" value="<?php p($issueid) ?>" />
<input type="hidden" name="view" value="view" />
<input type="hidden" name="screen" value="viewanissue" />
<input type="hidden" name="what" value="updateanissue" />
-->
<table cellpadding="5" class="tracker-issue-editor">
<?php
if (tracker_can_edit($tracker, $context, $issue)){
    /// Opens the issue if I have capability to resolve
    if ($issue->status < OPEN  && ($tracker->supportmode == 'tutoring')) { // ecastro ULPGC only user can open if tutoring
        $issue->status = OPEN;
        $DB->set_field('tracker_issue', 'status', OPEN, array('id' => $issueid));
    }

?>
    <tr>
        <td colspan="4" align="right">
            <form method="POST" action="view.php?id=<?php p($cm->id) ?>&amp;view=view&amp;screen=viewanissue&amp;issueid=<?php echo $issue->id ?>">
                <input type="submit" name="go_btn" value="<?php echo tracker_getstring('turneditingoff', 'tracker') ?>" />
            </form>
        </td>
    </tr>
<?php
}
?>
    <form action="view.php" name="editissue" method="post">
    <input type="hidden" name="id" value="<?php p($cm->id) ?>" />
    <input type="hidden" name="issueid" value="<?php p($issueid) ?>" />
    <input type="hidden" name="view" value="view" />
    <input type="hidden" name="screen" value="viewanissue" />
    <input type="hidden" name="what" value="updateanissue" />
    <tr>
        <td align="right" width="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('issuenumber', 'tracker') ?>:</b></td>
        <td width="25%">
            <?php echo $tracker->ticketprefix.$issueid; ?>
        </td>
        <td align="right" width="22%" class="tracker-issue-param"><b><?php echo tracker_getstring('dependson', 'tracker') ?>:</b></td>
        <td width="28%">
            <?php 
            $dependancies = tracker_getpotentialdependancies($tracker->id, $issueid);
            if($fulledit || $workedit) {
            ?>
            <select name="dependancies[]" multiple="multiple" size="5">
            <?php
            foreach($dependancies as $dependancy){
                $selected = ($dependancy->isparent) ? "selected=\"selected\"" : '' ;
                echo "<option value=\"$dependancy->id\" {$selected} >{$tracker->ticketprefix}{$dependancy->id} - ".shorten_text(format_string($dependancy->summary))."</option>\n";
            }
            ?>
            </select>
            <?php
            } else {
                $selected = '';
                foreach($dependancies as $dependancy){    
                    $selected .=  ($dependancy->isparent) ? "{$tracker->ticketprefix}{$dependancy->id} <br />" : '';
                }
                echo $selected;
            } 
            ?>
        </td>
    </tr>
    <tr>
        <td align="right" width="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('reportedby', 'tracker') ?>:</b><br /></td>
        <td width="25%">
            <?php echo fullname($issue->reporter);  ?>
        </td>
        <td align="right" width="22%" class="tracker-issue-param">
            <b><?php echo tracker_getstring('datereported', 'tracker') ?>:</b>
        </td>
        <td width="28%">
            <?php echo userdate($issue->datereported); ?>
            <input type="hidden" name="datereported" value="<?php p($issue->datereported) ?>"/>
        </td>
    </tr>
    <tr>
        <td align="right" width="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('assignedto', 'tracker') ?>:</b><br /></td>
        <td width="25%">
            <?php 
            if($fulledit || $workedit) {
                $resolvers = tracker_getdevelopers($context) + tracker_getresolvers($context); // ecastro ULPGC
                if ($resolvers){
                    foreach ($resolvers as $resolver) {
                        $resolversmenu[$resolver->id] = fullname($resolver);
                    }
                    echo html_writer::select($resolversmenu, 'assignedto', @$issue->assignedto);
                } else {
                    echo tracker_getstring('noresolvers', 'tracker');
                    echo '<input type="hidden" name="assignedto" value="0" />';
                }
            } else {
                if($issue->owner = $DB->get_record('user', array('id' => $issue->assignedto))) {
                    echo $OUTPUT->user_picture($issue->owner, array('courseid' => $COURSE->id, 'size' => 35));
                    echo '&nbsp;'.fullname($issue->owner);
                } else {
                    echo '&nbsp;'.get_string('unassigned', 'tracker');
                }
            }
            ?>
        </td>
        <td align="right" width="22%" class="tracker-issue-param"><b><?php echo tracker_getstring('status', 'tracker') ?>:</b></td>
        <td width="28%" class="<?php echo 'status_'.$STATUSCODES[$issue->status] ?>">
            <?php 
                if($fulledit || $workedit) {
                    echo html_writer::select(tracker_get_statuskeys($tracker), 'status', $issue->status);   
                } else {
                    $STATUSKEYS = tracker_get_statuskeys($tracker);
                    echo $STATUSKEYS[$issue->status];
                }
            ?>
        </td>
    </tr>
    <tr>
        <td align="right" width="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('summary', 'tracker') ?>:</b></td>
        <td colspan="3" width="75%">
            <?php if(!$fulledit && !$studentedit) {
                echo format_text($issue->summary);
            } else { ?>
            <input type="text" name="summary" size="70" value="<?php echo $issue->summary ?>" />
            <?php } ?>
        </td>
    </tr>
    <tr valign="top">
        <td align="right" height="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('description') ?>:</b></td>
        <td align="left" colspan="3" width="75%">
<?php
            // print_textarea($usehtmleditor, 20, 60, 680, 400, 'description_editor', $issue->description, 0, false, 'id_description');
            if(!$fulledit && !$studentedit) { 
                echo format_text($issue->description);
            } else {
                $attributes = array('id' => 'id_description', 'name' => 'description_editor');
                $values = array('text' => $issue->description_editor['text'], 'format' => $issue->description_editor['format'], 'itemid' => $issue->description_editor['itemid']);
                $options = array('maxfiles' => 0, 'maxbytes' => $COURSE->maxbytes, 'context' => $context, 'autosave'=>false);
                echo tracker_print_direct_editor($attributes, $values, $options);
            }
?>
        </td>
    </tr>
<!--Print Bug Attributes-->
<?php

if (is_array($elementsused)){
    $keys = array_keys($elementsused);
    if(!empty($keys)){
        for ($i=0; $i < count($keys); $i++){
            // Print first category in one column
            $key = $keys[$i];

            if(!($elementsused[$key]->private && $studentedit)) {
                echo "<tr valign=\"top\">";
                echo "<td align=\"right\">";
                echo "<b>";
                    echo format_string($elementsused[$key]->description);
                echo ":</b><br />";
                echo "</td>";
                echo "<td colspan=\"3\" align=\"left\">";
                    if($fulledit || ($studentedit && !$elementsused[$key]->private) || 
                            ($owneredit && $elementsused[$key]->private)) {
                        echo $elementsused[$key]->edit($issue->id);
                    } else {
                        echo $elementsused[$key]->view($issue->id);
                        echo html_writer::empty_tag('input', array('type' => 'hidden', 'name' => 'element'.$elementsused[$key]->name, 
                                                        'value' => format_string($elementsused[$key]->getvalue($issue->id))));
                    }
                echo "</td>";
                echo "</tr>";
            }
        }
    }
}
?>
<?php   if($fulledit || $workedit) { ?>
    <tr valign="top">
        <td align="right" height="25%" class="tracker-issue-param"><b><?php echo tracker_getstring('resolution', 'tracker') ?>:</b></td>
        <td align="left" colspan="3" width="75%">
<?php 
            $attributes = array('id' => 'id_resolution', 'name' => 'resolution_editor');
            $values = array('text' => $issue->resolution_editor['text'], 'format' => $issue->resolution_editor['format'], 'itemid' => $issue->resolution_editor['itemid']);
            $options = array('maxfiles' => 0, 'maxbytes' => $COURSE->maxbytes, 'context' => $context);
            echo tracker_print_direct_editor($attributes, $values, $options);
        } else {
            echo $renderer->resolution($issue);
        }
?>
        </td>
    </tr>
    <tr valign="top">
        <td align="center" colspan="4">
            <input type="submit" value="<?php echo tracker_getstring('savechanges') ?>" />
        </td>
    </tr>
</table>
</form>

<?php
echo $OUTPUT->box_end();
?>
</center>
