<?php

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* Prints list of user's stored queries
*/

	if (!defined('MOODLE_INTERNAL')) {
	    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
	}

	$queries = $DB->get_records_select('tracker_query', "userid = {$USER->id} AND trackerid = {$tracker->id} ");

	echo $OUTPUT->heading(tracker_getstring('myqueries', 'tracker'));

	//echo $OUTPUT->box_start('center', '80%', '', '', 'generalbox', 'tracker-queries');
	echo $OUTPUT->box_start('generalbox tracker-queries', null, array('width'=>'100%'));
	echo '<center>';

	if (!empty($queries)){
        $table = new html_table();
	    $searchstr = tracker_getstring('query', 'tracker');
	    $namestr = tracker_getstring('name');
	    $descriptionstr = tracker_getstring('description');
	    $actionstr = tracker_getstring('action', 'tracker');
	    $table->head = array("<b>$searchstr</b>", "<b>$namestr</b>", "<b>$descriptionstr</b>", "<b>$actionstr</b>");
	    $table->size = array(50, 100, 500, 100);
	    $table->align = array('center', 'left', 'center', 'center');
		foreach ($queries as $query){
	        $fields = tracker_extractsearchparametersfromdb($query->id);
	    	$query->description = tracker_printsearchfields($fields, $tracker);
	    	$searchlink = "<a href=\"view.php?id={$cm->id}&amp;view=view&amp;screen=browse&amp;what=usequery&amp;queryid={$query->id}\" title=\"".tracker_getstring('searchwiththat', 'tracker')."\">".$OUTPUT->pix_icon('search', '', 'mod_tracker')."</a>";
	        $action = "<a href=\"view.php?id={$cm->id}&amp;what=editquery&amp;queryid={$query->id}\" title=\"".tracker_getstring('update')."\" >".$OUTPUT->pix_icon('t/edit', '', 'mod_tracker')."</a>";
			$action .= "&nbsp;<a href=\"view.php?id={$cm->id}&amp;what=deletequery&amp;queryid={$query->id}\" title=\"".tracker_getstring('delete')."\" >".$OUTPUT->pix_icon('t/delete', '', 'mod_tracker')."</a>";
	        $table->data[] = array($searchlink, "&nbsp;{$query->name}", format_text($query->description), $action);
		}
		echo html_writer::table($table);
	} else {
	    print_string('noqueryssaved', 'tracker');
	}
	
	echo '</center>';

	echo $OUTPUT->box_end();
