/**
 * Exam registrar module styles
 *
 */

.tabdisplay {margin-bottom: 0;}
.examregmanagementtable {
    clear:both;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.examregprintexamtable {
    clear:both;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.examcoursereview {
    margin-top: 2.0em;
}

.examcourseviewtable {
    clear:both;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: 1px solid #DDD;
}

.examattemptreviewtable {
    clear:both;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: 1px solid #DDD;
}

.examcourseviewtable th.header,
.examattemptreviewtable th.header {border: 1px solid #CCC;}
.examcourseviewtable td,
.examattemptreviewtable td {border: 1px solid #DDD; padding: 2px 4px;}

td.colperiod,
td.colexam {width:16%;}
td.coldate {width:20%;}
td.colcall {width:3%; text-align: center;}
td.colbooked {width:15%; text-align: center;}
td.colexamfile {}
td.colroom {width:10%; text-align: center;}
td.coltaken {width:5%;}

td.colstatus {width:5%; text-align: center;}
td.colgeneratinguser {width:20%;}
td.colreview {width:10%;text-align: left;}
td.colaction  {width:10%;}

.withinstructions {
    display:inline-block;
    position:relative;
    /* border-bottom:1px dotted #666; */
    text-align:left;
    width: 100%;
}


.allocatedroomheaderright.withinstructions {
    width: 40%;
}

.allocatedroombody .roomexamlist .withinstructions {
    width: fit-content;
    float: right;
}


.withinstructions .examinstructions.right {
    width: max-content;
    min-width:200px;
    max-width: max(240px, calc(25vw));
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    /*color:#EEEEEE; */
    /*background-color:#444444;*/
    background-color: #FFFFF0;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:1; transition:opacity 0.8s;

}

.withinstructions:hover .examinstructions.right {
    visibility:visible; opacity:1;
}

.withinstructions .instructionscontent {
    padding:6px 8px;
}

.withinstructions .instructionscontent h5 {
    font-size: 1.0rem;
}

.printiconleft {
    float:left;
}

.withinstructions .examinstructions.right i.tip {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.withinstructions .examinstructions.right i.tip::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#FFFFF0;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


.withinstructions .examinstructions.bottom {
    min-width:200px;
    /*max-width:400px;*/
    top:48px;
    left:30%;
    transform:translate(-50%, 0);
    /*padding:20px; 
    color:#666666; 
    background-color:#EEEEEE; */
    background-color: #FFFFF0;    
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.withinstructions:hover .examinstructions.bottom {
    display:block;
}

.withinstructions .examinstructions.bottom i.tip {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.withinstructions .examinstructions.bottom i.tip::after {
    content:''; 
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#FFFFF0;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.examregmanagementform {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.examregistrarmanagefilterform label,
.examregallocationcontrolsleft label {
    display: inline;
}


.managesessionheader {border-style: solid; border-width: 2px; border-color: #DDD; padding: 4px 10px; }
.managesessionfooter {border-style: none; padding: 4px 10px; float:right; text-align:right; }
.managesessioniteminfo {text-align:left; float:left;}
.managesesionactionlink {text-align:right;}
.examreviewsynchronize,
.examreviewissuefilelink,
.examreviewstatusicons {text-align:right; float:right; margin-top: 2px;}

.examregprintbuttons {margin-left: 6.0em; margin-top: 1.0em; }

.examregprintbuttons .btn-secondary {margin-top: 2px;}

.managesession.collapsibleregion {border-style: solid; border-width: 2px; border-color: #DDD; min-height:100px; margin-bottom: 1.0em;}
.managesession .collapsibleregioninner {padding: 5px;}
.managesession .collapsibleregioncaption {background-color: #DDD; font-weight:bold; padding-left: 2.0em; padding-top: 2px; padding-bottom: 2px;}
.userlist .collapsibleregioncaption {background-color: white; font-weight:bold; padding-left: 0.5em; padding-top: 2px; padding-bottom: 2px;}
.userlist.intable {text-align:left;}
.userlist.intable ul {list-style-type:none;}
.qcuserlist .collapsibleregioncaption {background-color: #FFE4E1; font-weight:bold; padding-left: 1.0em; padding-top: 2px; padding-bottom: 2px;} /* #FFB6C1*/

.examregsessionrooms,
.examregqualitycontrol,
.examregroomallocatedseats,
.examregsessionresponses {width:49%; float:left;}
.examregsessionexams,
.examregprintoperators,
.examregunallocatedexams,
.examregspecialexams {width:49%; float:right; }

.allocatedexamregistered i.fa.responseicon {
    margin-left: 1.0em;
}

i.fa.responseicon.unsent,
i.fa.responseicon.rejected {
    color: red;
}

i.fa.responseicon.sent,
i.fa.responseicon.approved {
    color: green;
}

i.fa.responseicon.waiting {
    color: #FF8C00;
}


i.fa.responseicon.unconfirmed {
    color: #FF8C00;
}

i.fa.responseicon:hover {
    font-weight: bold;
}

.examregallocationcontrols {width:90%; float:both; }
.examregallocationcontrolsleft {width:55%; float:left; }
.examregallocationcontrolsright {width:22%; float:right; }
.examregallocation {float:both;}

.allocatedroomheaderleft  {width:58%; float:left; }
.allocatedroomheaderright  {width:40%; float:right; }
.allocatedexamregistered  {float:left; }

.roomexamslist li  {list-style-type: disc; }
.additionalexam li  {list-style-type: circle; margin-left: 2.0em}
.busyalloc { color: red !important;}
.freealloc { color: green;}

.examregistrarfilterform {margin-top: 1.0em; margin-bottom: 1.0em;}
.singleselect.filter {float:left;}
.singleselect.center {margin-left:auto; margin-right:auto; text-align:center;}

.allocatedroom,
.allocatedexam {margin-top: 1.5em;}
.allocatedroombody,
.allocatedexambody {padding: 4px 4px 4px 1.5em; }
.allocatedroombody ul,
.allocatedexambody ul {padding-left: 2.0em; }

#page-mod-examregistrar-view .bookingform .fitemtitle  {width:40%; text-align:left;}
#page-mod-examregistrar-view .bookingform .felement  {width:50%; text-align:left;}


#id_headeruserdata .fitem.fitem_fgroup  div.fitemtitle {
    width: 400px;
}
#id_headeruserdata  .fitem.fitem_fgroup  div.fitemtitle label {
    font-weight: normal !important;
}

#id_headerroomsdata .fitem.fitem_fgroup .fitemtitle {
    width: 150px;
}

#id_headerroomsdata .felement.fgroup label.accesshide {
    position: static;
    margin-left: 12px;
    margin-right: 2px;
}

#id_headerroomsdata fieldset.felement.fgroup {
    max-width: 90%;
    display: inline-flex;
}

.mform #id_headerroomsdata .fgroup > span {
    min-width: 13.3em;
}

.mform #id_headerroomsdata .fgroup input[size] {
    width: auto;
    min-width: 7.3em;
}

div.singlelinebutton {
   float: right; 
   margin: 3px;
}

.configparams {
   float: right;
   font-weight: bold;
}

.path-mod-examregistrar  .mform input[name="add_fields_none"] {
    display: none;
}
