{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_moove/navbar

    This template renders the top navbar.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_compact_logo_url": "http://placekitten.com/50/50",
            "custom_menu": "<li>..</li>",
            "page_heading_menu": "<li>..</li>",
            "search_box": "<div><input type='text'></div>",
            "navbar_plugin_output": "<div class='dropdown'>Messaging</div>",
            "user_menu": "<div class='dropdown'>John Doe</div>"
        },
        "config": {
            "wwwroot": "#",
            "homeurl": "/my/"
        },
        "sitename": "Moodle Site",
        "mobileprimarynav": [
            {
                "text": "Dashboard",
                "url": "/my",
                "isactive": true
            },
            {
                "text": "Site home",
                "url": "/",
                "isactive": false
            },
            {
                "text": "My courses",
                "url": "/course",
                "isactive": false
            }
        ]
    }
}}
<nav class="navbar fixed-top navbar-light bg-white navbar-expand shadow" aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers" data-action="toggle" data-target="theme_moove-drawers-primary">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
    </button>

    <a href="{{{ config.homeurl }}}" class="navbar-brand d-none d-md-flex align-items-center m-0  p-0 aabtn">{{! ecastro ULPGC removed mr-4}} 
        {{# output.should_display_logo }}
            <img src="{{output.get_logo}}" class="logo mr-1" alt="{{sitename}}">
        {{/ output.should_display_logo }}
        {{^ output.should_display_logo }}
            <img style='height:70px !important;' src=/campusvirtual/moodle41ulpgc2/theme/moove/pix/logo_ulpgc_nuevo.jpg> {{{ sitename }}}  <img class="logo_ulpgc">
        {{/ output.should_display_logo }}
    </a>

    {{#primarymoremenu}}
        <div class="primary-navigation">
            {{> core/moremenu}}
        </div>
    {{/primarymoremenu}}

    <ul class="navbar-nav d-none d-md-flex my-1 px-1">
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>
    <div id="usernavigation" class="navbar-nav ml-auto">
        <div class="navbarcallbacks">
            {{{ output.get_navbar_callbacks_data }}}
        </div>
        {{# output.search_box }}
            {{{ output.search_box }}}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/output.search_box}}
        {{#langmenu}}
            {{> theme_moove/language_menu }}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/langmenu}}
        {{{ output.navbar_plugin_output }}}
        <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{#usermenu}}
                {{> core/user_menu }}
            {{/usermenu}}
        </div>
        {{^notloggedin}} {{! Do not show if NOT logged in. // ecastro ULPGC }}
		<div data-key="miulpgc" class="miulpgc" role="none" >
				<a href="https://www2.ulpgc.es/index.php?pagina=miulpgc&amp;ver=miulpgc&amp;login=mlpgc" class="ulpgcds-btn ulpgcds-btn--small ulpgcds-btn--primary"><span class="ulpgcds-btn__icon ulpgcds-icon-user" aria-hidden="true"></span>MiULPGC</a>
		</div>
		{{/notloggedin}}
        {{{ output.edit_switch }}}
    </div>
</nav>

{{#secondarymoremenu}}
    <div class="secondary-navigation d-print-none moove">
        <div class="moove-container-fluid">
            {{> core/moremenu}}
            
            <script>
            function func12(event) {
            //alert("DIV 1");
            /*
            alert("DIV 1");
            //event.stopPropagation();
            //event.preventDefault ();
            //event.stopImmediatePropagation();
            var capa_dropdown = document.getElementById("menu_opciones");
            //alert(capa_dropdown);
            
            // Obtenemos el gear
            console.log(capa_dropdown.innerHTML);
            
            var clases = capa_dropdown.getAttribute("class");
            console.log(clases);
            
            //var datatoggle = capa_dropdown.getAttribute("data-toggle");
            //console.log(datatoggle);
            
            //capa_dropdown.setAttribute("class", "democlass");
            //capa_dropdown.setAttribute("data-toggle", "");
            
            //$("#capa_dropdown").toggleClass("toggled");
            
            capa_dropdown.click();
            alert("DIV 2");
            */  
                console.log("datos del evento2: ");
                console.log(event.srcElement.innerText);
                console.log(event);
                
                var capa_dropdown = document.getElementById("menu_opciones");
                capa_dropdown.setAttribute("class", "menuoptions show");
                
                var capa_principal = document.getElementById("capa_principal");
                //capa_principal.setAttribute("class", "nav-link nav more-nav nav-tabs show");
                capa_principal.setAttribute("class", "menupanel show");
                
                var capa_principal_interior = document.getElementById("capa_principal_interior");
                
                if (capa_principal_interior.classList.contains("show")) {
                    capa_principal_interior.setAttribute("class", "dropdown-menu dropdown-menu-left");
                    capa_principal_interior.setAttribute("style", "will-change: transform; min-width: 75% !important;");
                } else {
                    capa_principal_interior.setAttribute("class", "dropdown-menu dropdown-menu-left show");
                    //capa_principal_interior.setAttribute("style", "will-change: transform; min-width: 50% !important; position: absolute; transform: translate3d(0px, 57px, 0px); top: 0px; left: 0px;");
                    capa_principal_interior.setAttribute("style", "will-change: transform; min-width: 75% !important; position: absolute; top: 57px; left: 12%;");
                }
            }

            function func12_activity(event) {
                var capa_dropdown_activity = document.getElementById("menu_opciones_activity");
                capa_dropdown_activity.setAttribute("class", "menuoptions show");

                var capa_principal_activity = document.getElementById("capa_principal_activity");
                //capa_principal_activity.setAttribute("class", "nav-link nav more-nav nav-tabs show");
                capa_principal_activity.setAttribute("class", "menupanel show");

                var capa_principal_interior_activity = document.getElementById("capa_principal_interior_activity");

                if (capa_principal_interior_activity.classList.contains("show")) {
                    capa_principal_interior_activity.setAttribute("class", "dropdown-menu dropdown-menu-left");
                    capa_principal_interior_activity.setAttribute("style", "will-change: transform; min-width: 60% !important;");
                } else {
                    capa_principal_interior_activity.setAttribute("class", "dropdown-menu dropdown-menu-left show");
                    //capa_principal_interior_activity.setAttribute("style", "will-change: transform; min-width: 50% !important; position: absolute; transform: translate3d(0px, 57px, 0px); top: 0px; left: 0px;");
                    capa_principal_interior_activity.setAttribute("style", "will-change: transform; min-width: 60% !important; position: absolute; top: 57px; left: 36%;");
                }
            }

            </script>
            
            {{! poner esto outer, evita poner elicono donde NO hay opciones de menú}}
            {{#incoursesettings}}		
                <nav class="moremenu-toggles">
                    <div id=capa_principal class="menupanel" style="xmargin-top: -37px; xmargin-left:90%;" >
                        <a href="#"  class="menuoptions "  id="menu_opciones" role="menuitem" aria-label="{{incoursesettings}}" data-toggle="xxxdropdown" role="button" data-auto-close="outside" aria-haspopup="true" aria-expanded="true" aria-controls="moove-incourse-settings" tabindex="-1" onclick="func12(event)">
                            <i class="icon fa {{coursesettingsicon}} fa-fw " style=" color: #fff;" title="{{incoursesettings}}" aria-label="{{incoursesettings}}"></i> 
                        </a>
                        <ul id=capa_principal_interior data-auto-close="outside" class="dropdown-menu dropdown-menu-left" data-region="moredropdown" aria-labelledby="menu_opciones" role="menu" style="will-change: transform; position: absolute; transform: translate3d(0px, 59px, 0px); top: 0px; left: 0px; min-width: 50% !important;" x-placement="bottom-start">
                            <li data-key="xxxx1" class="nav-item" role="none" data-forceintomoremenu="true">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                                {{#node}}
                                                    {{> theme_moove/settings_page_course}}
                                                {{/node}}
                                        </div>
                                    </div>
                                </div>          
                            </li>
                        </ul>
                    </div>


                    {{! poner esto outer, evita poner elicono donde NO hay opciones de menú}}
                    {{#inactivitysettings}}
                    {{! incluir la clase nav-link en el <a> tiene efectos: REVISAR si necesario, en AMBOS, arriba y abajo}}
                    <div id=capa_principal_activity class="menupanel" style="xmargin-top: -28px; xmargin-left:92%;" >
                        <a href="#"  class="menuoptions "  id="menu_opciones_activity" role="menuitem" data-toggle="xxxdropdown" data-auto-close="outside" aria-haspopup="true" role="button" aria-expanded="true" aria-controls="moove-inactivity-settings" tabindex="-1" onclick="func12_activity(event)">
                            <i class="icon fa {{activitysettingsicon}} fa-fw " style=" color: #fff;"  title="{{inactivitysettings}}" aria-label="{{inactivitysettings}}"></i>
                        </a>
                        <ul id=capa_principal_interior_activity data-auto-close="outside" class="dropdown-menu dropdown-menu-left" data-region="moredropdown" aria-labelledby="menu_opciones" role="menu" style="will-change: transform; position: absolute; transform: translate3d(0px, 59px, 0px); top: 0px; left: 0px; min-width: 50% !important;" x-placement="bottom-start">
                            <li data-key="xxxx2" class="nav-item" role="none" data-forceintomoremenu="true">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            {{#activitynode}}
                                                {{> theme_moove/settings_page_mod}}
                                            {{/activitynode}}
                                        </div>
                                    </div>
                                </div>          
                            </li>
                        </ul>
                    </div>
                    {{/inactivitysettings}}
                </nav>    
            {{/incoursesettings}}
         </div>
    </div>
{{/secondarymoremenu}}
{{^secondarymoremenu}}
    <div class="secondary-navigation d-print-none moove empty">
    </div>
{{/secondarymoremenu}}

{{> theme_moove/primary-drawer-mobile }}
