/**
    CSS style for crossword question type.
 */

#page-question-type-crossword #fitem_id_defaultmark {
    display: none;
}

#page-question-type-crossword .mform .form-group.has-danger .col-md-9[data-fieldtype="group"] {
    border: none !important; /* stylelint-disable-line declaration-no-important */
}

#page-question-type-crossword .crossword-contain {
    max-width: fit-content;
    margin: 20px auto;
}

#page-question-type-crossword table.crossword-grid {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

#page-question-type-crossword .grid-row {
    clear: left;
}

#page-question-type-crossword fieldset#id_wordhdr .d-flex .form-group {
    margin-right: 1em;
}

#page-question-type-crossword fieldset#id_wordhdr .d-flex .form-group:last-child,
.qtype_crossword-grid-wrapper .wrap-clue img.icon {
    margin-right: 0;
}

#page-question-type-crossword fieldset#id_words .fcontainer input[name^="answer"],
.qtype_crossword-grid-wrapper .wrap-crossword #crossword form .crossword .formulation input[type="text"] {
    text-transform: uppercase;
}

#page-question-type-crossword fieldset#id_wordhdr legend a {
    margin-top: 15px;
}

#page-question-type-crossword #crossword {
    overflow: auto;
}

#page-question-type-crossword #crossword .crossword-grid .grid-square.background-white,
#page-question-type-crossword #crossword .crossword-grid .cell-white,
#page-question-type-crossword .grid-square.square-indicate-horizontal,
#page-question-type-crossword .grid-square.square-indicate-vertical {
    background: transparent;
}

#page-question-type-crossword #crossword .crossword-grid .cell-white,
#page-question-type-crossword .grid-square.square-indicate-horizontal,
#page-question-type-crossword .grid-square.square-indicate-vertical {
    border: none;
}

#page-question-type-crossword .grid-square.square-indicate-horizontal {
    border-bottom: 1px solid #000;
}

#page-question-type-crossword .grid-square.square-indicate-vertical {
    border-right: 1px solid #000;
}

#page-question-type-crossword .grid-square {
    position: relative;
    background-clip: padding-box;
    padding: 20px 25px;
    text-align: center;
    background-color: #a6a6a6;
    border-left: 0;
    border-top: 0;
}

#page-question-type-crossword .grid-square .word-label {
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 1;
    font-size: calc(10px + .25vw);
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#page-mod-quiz-reviewquestion section#region-main .qtype_crossword-grid-wrapper div div {
    margin: 0;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword {
    position: relative;
    max-width: 700px;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword svg.adjust-crossword {
    min-width: 800px;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-cell {
    cursor: pointer;
    fill: #fff;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-grid-background {
    fill: #000;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-cell-highlighted {
    fill: #ffe500;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-cell-focussed {
    fill: #fff7b2;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-cell-number {
    font-size: 0.625rem;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-hidden-input-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 6.6%;
    height: 6.6%;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-cell-text {
    text-transform: uppercase;
    font-size: 0.65rem;
}

.qtype_crossword-grid-wrapper .wrap-crossword #crossword .crossword-hidden-input-wrapper input {
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    background-color: transparent;
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    text-anchor: middle;
    caret-color: transparent;
}

.qtype_crossword-grid-wrapper .wrap-clue .clue-id {
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 0.2em;
    text-align: center;
    width: 1.75em;
    height: 1.75em;
}

.qtype_crossword-grid-wrapper .wrap-clue .clue-content {
    word-break: break-word;
}
/* Make video element is not oversize in clue when video don't have max-width */
.qtype_crossword-grid-wrapper .wrap-clue .clue-content video,
.qtype_crossword-grid-wrapper .wrap-clue .clue-content img,
.qtype_crossword-grid-wrapper .sticky-clue video,
.qtype_crossword-grid-wrapper .sticky-clue img {
    max-width: 100%;
}

.qtype_crossword-grid-wrapper .wrap-clue.focus .clue-id {
    background: #ffe500;
}

.qtype_crossword-grid-wrapper .wrap-clue input[type="text"] {
    width: calc(100% - 3em);
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.qtype_crossword-grid-wrapper .wrap-crossword .sticky-clue {
    top: 0;
    left: 0;
}

/* Small devices (landscape phones, less than 768px). */
@media (max-width: 767.98px) {
    .qtype_crossword-grid-wrapper .clue-id > span {
        font-weight: bold;
        font-style: normal;
    }

    .qtype_crossword-grid-wrapper .wrap-crossword #crossword .orientation {
        margin-bottom: 0;
    }

    .qtype_crossword-grid-wrapper .wrap-crossword {
        position: relative;
        padding-bottom: 1.25rem;
    }

    .qtype_crossword-grid-wrapper .wrap-crossword #crossword svg.adjust-small-crossword {
        min-width: 800px;
    }
}

/* Large devices (desktops, less than 1200px). */
@media (max-width: 1199.98px) {
    #page-question-type-crossword .clue-label label {
        margin-right: 1.9em;
    }

    #page-question-type-crossword .answer-clue {
        margin-bottom: 15px;
    }
}

@media print {
    .qtype_crossword-grid-wrapper #crossword svg g rect {
        stroke: #000;
        stroke-width: 0.5px;
    }
}