.path-mod-library .resourcecontent {
    text-align: center;
}

.path-mod-library .resourcedetails {
    font-size: 0.8em;
    color: #555;
}

.resourcelinkdetails {
    font-size: 0.8em;
    color: #555;
}

.path-mod-library #resourceobject {
    width: 100%;
    height: 55.0rem;    
}
