//Import additional ULPGC scss moove files. //ecastro ULPGC
@import "ulpgc/modchooser";

.badge .badge-pill .badge-warning {
	background-color: #000066;
}

/*
.badge-warning {
	background-color: #000066;
}
*/

.logo_ulpgc {
	background-image: $logo_ulpgc;
}

.ulpgcds-btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Rubik", sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem;
  padding: 12px 24px;
  margin: 16px auto 16px 0;
  border: solid 0;
  border-radius: 4px;
  min-width: 120px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.ulpgcds-btn--primary {
  background: #0066a1;
  color: #fff;
}
.ulpgcds-btn--small {
  padding: 8px 18px;
}
.ulpgcds-btn__icon {
  position: relative;
  top: 0rem;
  height: 18px;
  width: 18px;
  display: inline-block;
}
.ulpgcds-icon-user::before, .icon-user::before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 400;
  content: "\f007";
}
